*.sdf
*.suo
*.obj
*.tlog
Debug.win32
*.opensdf
objs.debug
xcuserdata
/trunk/frameworks/runtime-src/proj.android-studio/app/*
/trunk/frameworks/runtime-src/proj.android-studio/app/*.xml
/trunk/frameworks/runtime-src/proj.android-studio/app/*.properties
/trunk/frameworks/runtime-src/proj.android-studio/app/*.txt
/trunk/simulator/*
/trunk/frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/build
/trunk/frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/libcocos2dx.iml
/trunk/frameworks/runtime-src/proj.android-studio/proj.android-studio.iml
/trunk/frameworks/runtime-src/proj.android-studio/.idea/runConfigurations.xml
/trunk/frameworks/runtime-src/proj.android-studio/.idea/.name
/trunk/frameworks/runtime-src/proj.android-studio/.idea/compiler.xml
/trunk/frameworks/runtime-src/proj.android-studio/.idea/copyright/profiles_settings.xml
/trunk/frameworks/runtime-src/proj.android-studio/.idea/encodings.xml
/trunk/frameworks/runtime-src/proj.android-studio/.idea/gradle.xml
/trunk/frameworks/runtime-src/proj.android-studio/.idea/misc.xml
/trunk/frameworks/runtime-src/proj.android-studio/.idea/modules.xml
/trunk/_log.txt
